<a href="https://colab.research.google.com/github/Fowzia10/ETE456/blob/main/Copy_of_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CHITTAGONG UNIVERSITY OF ENGINEERING AND TECHNOLOGY

Name: Fowzia Hossain

ID :1608010

Course No.: ETE 456

**Objective:**

1.Finding Charges of given dataset

*we use filterwarnings() function to supress warnings

In [ ]:
import warnings
warnings.filterwarnings("ignore")

*Imported numpy pandas and matlab library

In [ ]:
import numpy as np        
import pandas as pd     
import matplotlib.pyplot as plt

Simple Linear Regression

In [ ]:
# Download the data
!wget -O insurance.csv https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0

--2021-12-19 15:14:47--  https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/mwgqgjbmfw0xa5p/insurance.csv [following]
--2021-12-19 15:14:47--  https://www.dropbox.com/s/raw/mwgqgjbmfw0xa5p/insurance.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf596704303e38c668d7d577607.dl.dropboxusercontent.com/cd/0/inline/BcLmXOyF3SZo3qpWPgItTP0-PjNQExLnNK6pd8Jpd7PbcAMJjExAHMaU1jKnLPTMoCd-S4iRSWGAWYAbFAnHXQe6TLN5KorXSP1NwcD_VyQd0G4RXQz3OVeP3oeMdwaV7t-KrMnbUBjlhCx1DyqRt3Vm/file# [following]
--2021-12-19 15:14:48--  https://ucf596704303e38c668d7d577607.dl.dropboxusercontent.com/cd/0/inline/BcLmXOyF3SZo3qpWPgItTP0-PjNQExLnNK6pd8Jpd7PbcAMJjExAHMaU1jKnLPTMoCd-S4iRSWGAWYAbFAnHXQe6TLN5KorXSP1NwcD_VyQd0G4RXQz3OVeP3oeMdwaV7t-KrMnbUBjlhCx1DyqRt3Vm/file
Resolving ucf596704303e38c668d7d577607.dl.dropboxusercontent.com (ucf596704303e38c668d7d577607.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:601b:15::a27d:80f
Connecting to ucf596704303e38c668d7d577607.dl.dropboxusercontent.com (ucf596704303e38c668d7d577607.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  54.32K  --.-KB/s    in 0.03s

2021-12-19 15:14:48 (1.58 MB/s) - ‘insurance.csv’ saved [55628/55628]

In [ ]:

"""importing the dataset """
dataset = pd.read_csv('insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
feature = dataset[['age','bmi','sex','children','smoker','region']]  # for independent
target = dataset[['charges']]   # for dependent

In [ ]:
feature

      age     bmi     sex  children smoker     region
0      19  27.900  female         0    yes  southwest
1      18  33.770    male         1     no  southeast
2      28  33.000    male         3     no  southeast
3      33  22.705    male         0     no  northwest
4      32  28.880    male         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50  30.970    male         3     no  northwest
1334   18  31.920  female         0     no  northeast
1335   18  36.850  female         0     no  southeast
1336   21  25.800  female         0     no  southwest
1337   61  29.070  female         0    yes  northwest

[1338 rows x 6 columns]

In [ ]:
target

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

**One Hot Encoding**
one hot encoding allows the representation  of categorical data  to be more expressive and converted into numerical numbers.One hot encoding ensures that machine learning does not assume that higher numbers are more important.That's why it's preferable.

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [ ]:
encoder=OneHotEncoder(sparse=False)
encoded_labels = pd.DataFrame (encoder.fit_transform(feature[['sex','smoker','region']]))

In [ ]:
encoded_labels.columns = encoder.get_feature_names(['sex','smoker','region'])
dataset= pd.concat([feature, encoded_labels ], axis=1)

In [ ]:
dataset

      age     bmi     sex  ...  region_northwest region_southeast region_southwest
0      19  27.900  female  ...               0.0              0.0              1.0
1      18  33.770    male  ...               0.0              1.0              0.0
2      28  33.000    male  ...               0.0              1.0              0.0
3      33  22.705    male  ...               1.0              0.0              0.0
4      32  28.880    male  ...               1.0              0.0              0.0
...   ...     ...     ...  ...               ...              ...              ...
1333   50  30.970    male  ...               1.0              0.0              0.0
1334   18  31.920  female  ...               0.0              0.0              0.0
1335   18  36.850  female  ...               0.0              1.0              0.0
1336   21  25.800  female  ...               0.0              0.0              1.0
1337   61  29.070  female  ...               1.0              0.0              0.0

[1338 rows x 14 columns]

In [ ]:
dataset.columns

Index(['age', 'bmi', 'sex', 'children', 'smoker', 'region', 'sex_female',
       'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [ ]:
new_features = dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes', 'region_northeast','region_northwest', 'region_southeast', 'region_southwest']]

In [ ]:
from sklearn.model_selection import train_test_split

"""Spliting the Dataset into Training Set and Test Set """
X_train,X_test,y_train,y_test=train_test_split(new_features,target,test_size = 0.3,random_state = 0)
# random_state = 0 is select to get the same result

In [ ]:
print(X_train.shape)
print(X_test.shape)

(936, 11)
(402, 11)

In [ ]:
X_train

      age     bmi  ...  region_southeast  region_southwest
1163   18  28.215  ...               0.0               0.0
196    39  32.800  ...               0.0               1.0
438    52  46.750  ...               1.0               0.0
183    44  26.410  ...               0.0               0.0
1298   33  27.455  ...               0.0               0.0
...   ...     ...  ...               ...               ...
763    27  26.030  ...               0.0               0.0
835    42  35.970  ...               1.0               0.0
1216   40  25.080  ...               1.0               0.0
559    19  35.530  ...               0.0               0.0
684    33  18.500  ...               0.0               1.0

[936 rows x 11 columns]

In [ ]:
# Fitting Multiple Linear Regression Model to Training Set
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train,y_train)

# Predicting the Test Set Results
y_pred = regressor.predict(X_test)

In [ ]:
y_test

          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
1261   3277.16100
494   17942.10600
97    10226.28420
418   14418.28040
920   13451.12200

[402 rows x 1 columns]

In [ ]:
y_pred

array([[ 1.12531936e+04],
       [ 9.54490709e+03],
       [ 3.78498010e+04],
       [ 1.60692697e+04],
       [ 6.73440872e+03],
       [ 4.00446268e+03],
       [ 1.60576551e+03],
       [ 1.43015300e+04],
       [ 8.89696521e+03],
       [ 7.34111088e+03],
       [ 4.67363726e+03],
       [ 1.01633582e+04],
       [ 8.89221066e+03],
       [ 3.78513354e+03],
       [ 2.74730092e+04],
       [ 1.08538364e+04],
       [ 1.10975451e+04],
       [ 6.15331614e+03],
       [ 8.05810804e+03],
       [ 2.69726437e+04],
       [ 3.33303371e+04],
       [ 1.42507758e+04],
       [ 1.18538537e+04],
       [ 3.19917201e+04],
       [ 4.08938830e+03],
       [ 9.31679198e+03],
       [ 1.14341410e+03],
       [ 9.91266828e+03],
       [ 3.75184042e+03],
       [ 1.02673370e+04],
       [ 8.90007511e+03],
       [ 3.99578709e+04],
       [ 1.57594956e+04],
       [ 1.39309106e+04],
       [ 2.46369056e+04],
       [ 5.22461192e+03],
       [ 1.26648825e+04],
       [ 3.06140223e+04],
       [ 3.32333392e+04],
       [ 3.66174044e+03],
       [ 4.05511934e+03],
       [ 3.92923473e+03],
       [ 3.04112144e+04],
       [ 3.92034732e+04],
       [ 2.75801212e+04],
       [ 4.89321443e+03],
       [ 1.07431646e+04],
       [ 7.62347812e+03],
       [ 3.69013781e+03],
       [ 1.03016223e+04],
       [ 5.75534832e+03],
       [ 3.26005023e+03],
       [ 3.29256311e+04],
       [ 3.85224428e+04],
       [ 1.60985154e+04],
       [ 7.18113917e+03],
       [ 5.66848906e+03],
       [ 9.23411197e+03],
       [ 9.07128678e+03],
       [ 1.15702549e+04],
       [ 1.81506050e+03],
       [ 3.86628808e+04],
       [ 1.50307211e+04],
       [ 1.19173076e+04],
       [ 1.42644074e+04],
       [ 1.41632373e+04],
       [ 2.55755740e+04],
       [ 3.18922042e+04],
       [ 8.41734602e+02],
       [ 1.00580196e+04],
       [ 1.24652115e+04],
       [ 1.15821370e+04],
       [ 2.50379704e+04],
       [ 1.56837251e+04],
       [ 1.10495116e+04],
       [ 1.27902351e+04],
       [ 6.59245550e+03],
       [ 9.64345096e+03],
       [ 3.01318595e+04],
       [ 3.90428552e+04],
       [ 1.21786741e+04],
       [ 3.71267082e+04],
       [ 3.96552317e+03],
       [ 9.45814552e+03],
       [ 3.47770715e+04],
       [ 2.87074484e+04],
       [ 8.72492147e+03],
       [ 4.64080428e+03],
       [ 1.21427453e+04],
       [ 3.02852775e+04],
       [ 1.02460382e+04],
       [ 1.14491795e+04],
       [ 8.43470342e+03],
       [ 8.98827762e+03],
       [ 8.46487135e+03],
       [ 7.42087496e+03],
       [ 3.59478843e+04],
       [ 3.31104110e+04],
       [ 7.48942896e+03],
       [ 1.51934533e+04],
       [ 3.94002717e+03],
       [ 8.60181033e+03],
       [ 6.36273313e+03],
       [ 3.13368193e+04],
       [ 3.26739502e+04],
       [ 1.72692023e+03],
       [ 9.08973615e+03],
       [ 6.44376434e+03],
       [ 1.46830422e+04],
       [ 3.71399182e+04],
       [ 1.00688067e+04],
       [ 1.05908983e+04],
       [ 1.00698592e+04],
       [ 2.68102335e+04],
       [ 3.97770153e+04],
       [ 8.59436893e+03],
       [ 2.97232951e+02],
       [ 9.06028430e+03],
       [ 1.53622884e+04],
       [ 9.40347912e+03],
       [ 3.50664652e+04],
       [ 7.08642436e+03],
       [ 1.70912622e+04],
       [ 9.78120073e+03],
       [ 8.34376033e+03],
       [ 2.77102990e+03],
       [ 3.28873743e+04],
       [ 3.11545232e+04],
       [ 3.95210386e+04],
       [ 5.30209082e+03],
       [ 9.39587293e+03],
       [ 3.53635630e+03],
       [ 7.67967525e+03],
       [ 8.71432596e+03],
       [ 3.15850467e+04],
       [ 2.98018584e+04],
       [ 2.95921688e+04],
       [ 8.83172153e+03],
       [ 3.23429657e+04],
       [ 3.10166531e+03],
       [ 3.43647891e+03],
       [ 1.09304700e+04],
       [ 1.32128453e+04],
       [ 1.29563790e+04],
       [ 5.22153387e+03],
       [ 1.56450358e+04],
       [ 1.50200213e+04],
       [ 2.22007913e+03],
       [-2.76529916e+02],
       [ 1.09758641e+04],
       [ 7.52578485e+03],
       [ 3.16112422e+04],
       [ 1.25004822e+04],
       [ 2.28207597e+03],
       [ 6.23341827e+03],
       [ 7.89742136e+03],
       [ 4.18335247e+03],
       [ 2.06073238e+03],
       [ 1.12732692e+04],
       [ 1.24474266e+04],
       [ 7.38703123e+03],
       [ 1.64126797e+04],
       [ 1.16548528e+04],
       [ 1.41827644e+04],
       [ 3.25239799e+03],
       [ 7.44089536e+03],
       [ 2.29510149e+04],
       [ 7.75939841e+03],
       [ 5.55574972e+03],
       [ 5.14017616e+03],
       [ 6.54358067e+03],
       [ 5.29101323e+03],
       [ 9.86573296e+03],
       [ 5.30318056e+03],
       [ 5.82126396e+03],
       [ 6.71264320e+03],
       [ 3.79359032e+03],
       [ 5.35674887e+03],
       [ 3.81050149e+04],
       [ 1.49449863e+03],
       [ 1.25241127e+04],
       [ 8.81600344e+03],
       [ 1.35779650e+04],
       [ 5.33467494e+03],
       [ 5.30034294e+03],
       [ 3.64048098e+04],
       [ 4.39998407e+03],
       [ 2.07683907e+03],
       [ 1.50700993e+04],
       [ 1.28583285e+04],
       [ 3.50480278e+04],
       [ 4.81692549e+03],
       [ 5.75568624e+03],
       [ 3.10570003e+04],
       [ 5.91365180e+03],
       [ 2.12466743e+03],
       [ 8.55473411e+03],
       [ 1.02157331e+04],
       [ 8.01035514e+03],
       [ 5.56732969e+03],
       [ 1.33173353e+04],
       [ 3.83325588e+04],
       [ 1.36438797e+04],
       [ 2.88073730e+04],
       [ 6.57855063e+03],
       [ 3.54156777e+04],
       [ 3.85264559e+03],
       [ 1.18931235e+04],
       [ 9.11693680e+03],
       [ 6.16245674e+03],
       [ 1.11692747e+04],
       [ 1.47049487e+04],
       [ 5.02634820e+03],
       [ 4.46458369e+03],
       [ 7.96288703e+03],
       [ 1.31978165e+03],
       [ 8.00636697e+03],
       [ 4.52316428e+03],
       [ 1.30510837e+04],
       [ 4.39675270e+03],
       [ 1.02462007e+04],
       [ 7.38951728e+03],
       [ 9.36630903e+03],
       [ 2.44501178e+03],
       [ 1.33392136e+04],
       [ 1.66792757e+04],
       [ 1.50554402e+04],
       [ 1.06897979e+04],
       [ 5.36806605e+03],
       [ 2.16568099e+03],
       [ 1.84625678e+03],
       [ 1.36078096e+04],
       [ 1.41046244e+04],
       [ 5.18518795e+03],
       [ 3.78006430e+03],
       [ 9.57585167e+03],
       [ 1.01219994e+04],
       [ 2.81258257e+04],
       [ 7.73311859e+03],
       [ 1.06662041e+04],
       [ 6.36597477e+03],
       [ 2.94855951e+04],
       [ 1.12667069e+04],
       [ 7.60247088e+03],
       [ 1.00997356e+04],
       [ 1.20691312e+04],
       [ 3.08178430e+03],
       [ 1.06992857e+04],
       [ 1.58012525e+03],
       [ 7.13244227e+03],
       [ 2.82894803e+04],
       [ 3.87009694e+04],
       [ 6.44760486e+03],
       [ 8.18263663e+03],
       [ 2.56156737e+03],
       [ 4.43116587e+02],
       [ 1.06319373e+04],
       [ 4.14413001e+03],
       [ 4.80964514e+03],
       [ 2.35032467e+03],
       [ 6.90487999e+03],
       [ 3.33519011e+04],
       [ 3.81889733e+04],
       [ 1.46742863e+04],
       [ 8.06796404e+03],
       [ 1.62426303e+04],
       [ 3.28132879e+04],
       [ 9.64677964e+03],
       [ 3.35687219e+04],
       [ 3.28499010e+03],
       [ 3.07421002e+04],
       [ 8.27403986e+03],
       [ 1.43749371e+04],
       [ 3.94363238e+03],
       [ 3.20677633e+04],
       [ 8.50722697e+03],
       [ 1.12272940e+04],
       [ 9.17836109e+03],
       [ 4.02094225e+03],
       [ 1.28491704e+04],
       [ 1.15880228e+04],
       [ 8.28529095e+03],
       [ 1.34436097e+04],
       [ 2.88016799e+03],
       [ 1.07598245e+04],
       [ 5.60040795e+03],
       [ 1.10443396e+04],
       [ 3.15748920e+04],
       [ 9.86714924e+03],
       [ 1.27147820e+03],
       [ 2.86568919e+02],
       [ 3.99183572e+04],
       [ 9.82112709e+03],
       [ 6.98485911e+03],
       [ 1.38987602e+04],
       [ 1.36056308e+04],
       [ 2.72298367e+04],
       [ 7.28448164e+03],
       [ 6.99440177e+03],
       [ 1.22798274e+04],
       [ 2.68645584e+03],
       [ 3.63656263e+03],
       [ 2.49800939e+04],
       [ 2.58300744e+04],
       [ 1.31031820e+04],
       [ 3.32140682e+03],
       [ 4.86248281e+03],
       [ 9.49806860e+03],
       [ 1.26028085e+04],
       [ 2.34806136e+04],
       [ 3.05185854e+04],
       [ 1.02915974e+04],
       [ 2.36864639e+04],
       [ 2.70214254e+03],
       [ 1.13613494e+04],
       [ 7.31417605e+03],
       [ 8.37333217e+03],
       [-1.20090918e+01],
       [ 7.87352474e+03],
       [ 3.53845654e+04],
       [ 6.34875226e+03],
       [ 6.42543828e+03],
       [ 2.58973345e+01],
       [ 1.06566943e+04],
       [ 6.52223275e+03],
       [ 9.67955134e+03],
       [ 3.90212856e+04],
       [ 2.73398516e+04],
       [ 1.16690107e+04],
       [ 3.52946768e+04],
       [ 1.52284127e+04],
       [ 6.70599088e+03],
       [ 1.07444457e+04],
       [ 7.07603187e+03],
       [ 3.64305215e+04],
       [ 5.77215659e+03],
       [ 1.11987869e+04],
       [ 9.12757093e+02],
       [ 2.39243545e+04],
       [ 1.72536528e+03],
       [ 3.44370930e+04],
       [ 1.11893513e+04],
       [ 1.64284856e+03],
       [ 3.23084344e+04],
       [ 6.83933850e+03],
       [ 5.38358717e+03],
       [ 3.77008671e+04],
       [ 2.38518793e+03],
       [ 9.73769497e+03],
       [ 2.51677325e+03],
       [ 1.29924006e+04],
       [ 1.14558043e+03],
       [ 1.09157187e+04],
       [ 6.82118928e+03],
       [ 3.65819756e+04],
       [ 7.32055769e+03],
       [ 3.03617950e+04],
       [ 2.92892602e+04],
       [ 6.82053534e+03],
       [ 1.09348851e+04],
       [ 1.76251405e+03],
       [ 2.37139310e+03],
       [ 3.67942218e+03],
       [ 1.26348376e+04],
       [ 3.68242957e+04],
       [ 9.88276212e+03],
       [ 5.21130967e+02],
       [ 1.15304510e+04],
       [ 4.96731683e+03],
       [ 1.00055528e+04],
       [ 5.74380019e+03],
       [ 7.07572800e+03],
       [ 4.03843476e+03],
       [ 2.82570712e+04],
       [ 4.44634108e+03],
       [-1.24189730e+03],
       [ 3.29513389e+04],
       [ 1.26555619e+04],
       [ 3.59905000e+04],
       [ 1.00050499e+04],
       [ 7.57606854e+03],
       [-2.70310110e+02],
       [ 2.44881699e+03],
       [ 1.17300960e+04],
       [ 5.85414692e+03],
       [ 3.48550916e+03],
       [ 1.22947034e+04],
       [ 7.91825176e+03],
       [ 7.10941145e+03],
       [ 5.62219064e+03],
       [ 2.93138277e+03],
       [ 3.20691197e+04],
       [ 3.42234717e+03],
       [ 8.77246198e+03],
       [ 4.58681719e+03],
       [ 1.32668158e+04],
       [ 1.49586949e+04],
       [ 7.41278952e+03],
       [ 2.66486545e+04],
       [ 1.40642726e+04],
       [ 1.71400262e+04],
       [ 1.16484659e+04]])

Evaluation Metrices

In [ ]:
from sklearn.metrics import mean_absolute_error

# MAE

mean_absolute_error(y_test, y_pred)

4011.4496793279886

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

33342497.82695459

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7909160991789904

Feature Scaling

In [ ]:
dataset

      age     bmi     sex  ...  region_northwest region_southeast region_southwest
0      19  27.900  female  ...               0.0              0.0              1.0
1      18  33.770    male  ...               0.0              1.0              0.0
2      28  33.000    male  ...               0.0              1.0              0.0
3      33  22.705    male  ...               1.0              0.0              0.0
4      32  28.880    male  ...               1.0              0.0              0.0
...   ...     ...     ...  ...               ...              ...              ...
1333   50  30.970    male  ...               1.0              0.0              0.0
1334   18  31.920  female  ...               0.0              0.0              0.0
1335   18  36.850  female  ...               0.0              1.0              0.0
1336   21  25.800  female  ...               0.0              0.0              1.0
1337   61  29.070  female  ...               1.0              0.0              0.0

[1338 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
X_sc = StandardScaler()
y_sc = StandardScaler()
X_train_new = X_sc.fit_transform(X_train[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes', 'region_northeast','region_northwest', 'region_southeast', 'region_southwest']])
X_test_new = X_sc.transform(X_test[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes', 'region_northeast','region_northwest', 'region_southeast', 'region_southwest']])
y_train_new = y_sc.fit_transform(y_train[['charges']])
y_test_new = y_sc.transform(y_test[['charges']])

**Support Vector Regression**

In [ ]:
# Fitting SVR to the dataset
from sklearn.svm import SVR 

regressor = SVR(kernel = 'linear')
regressor.fit(X_train_new,y_train_new)

SVR(kernel='linear')

In [ ]:
y_pred = regressor.predict(X_test_new)

In [ ]:
r2_score(y_test_new, y_pred)

0.7619821999423557

**Decision Tree Regression**

In [ ]:
# Fitting the decision tree regression with the dataset
from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train_new,y_train_new)

DecisionTreeRegressor(random_state=0)

In [ ]:
y_pred = regressor.predict(X_test_new)
r2_score(y_test_new, y_pred)

0.7154818275740042

Random  Forest Regression

In [ ]:
# Fitting the Random Forest Regression with the dataset
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) # n estiamator is the number of decision trees
regressor.fit(X_train_new,y_train_new)

RandomForestRegressor(n_estimators=10, random_state=0)

In [ ]:
y_pred = regressor.predict(X_test_new)
r2_score(y_test_new, y_pred)

0.8402053843182806

It is seen that the highest accuracy is found using Random Forest Regression which is 84%